Vagrantfile
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*

# Test files
.kitchen/
*.local.yml

# Backup files
*.tar.gz
/files/default/backups
